.time-container {
  width: 47.938rem;
  height: 12.625rem;
}
.time-row {
  width: 47.937rem;
  height: 4.56rem;
  border-bottom: 1px solid rgba(240, 240, 245, 1);
  display: flex;
  align-items: center;
}
/* .time-row span {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.day-period {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.915rem;
  height: 2.5rem;
  margin-right: 0.158rem;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.25rem;
  height: 1.974rem;
  border-radius: 3px;
  border: 1px solid rgba(42, 167, 255, 1);
  /* font-family: Lato; */
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.225rem;
  letter-spacing: 0%;
  margin-right: 2rem;

  color: rgba(42, 167, 255, 1);
}
