.blog-card {
  width: 363px;
  height: 458px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.blog-image {
  width: 363.33px;
  height: 294.59px;
  border-radius: 8px;
  /* background-image: url("/images/Blog/blog-card-image.jpg"); */
}
.blog-sub-heading {
  display: flex;
  gap: 1rem;
  height: 28px;
  width: 363.33px;
  color: rgba(119, 130, 157, 1);
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  margin-left: 2rem;
}
.blog-card-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: left;
  color: rgba(27, 60, 116, 1);
  margin-left: 1rem;
}

.blog-card-doctor {
  width: 363.33px;
  height: 32px;
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.blog-doctor-image {
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.blog-doctor-name {
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  color: rgba(27, 60, 116, 1);
}
