.hero {
  width: 1440px;
  height: 832px;
  background-image: linear-gradient(
    to bottom,
    rgba(231, 240, 255, 1),
    rgba(232, 241, 255, 0.47)
  );
}
.hero-content {
  display: flex;
  justify-content: center;
}
.hero-tag {
  display: flex;
  flex-direction: column;
  width: 663px;
  height: 207px;
}
.hero-tag h3 {
  font-weight: 500;
  font-size: 31px;
  line-height: 68px;
  letter-spacing: 2%;
  margin-bottom: 0;
}
.hero-tag-text {
  width: 570px;
  height: 64px;
  color: rgba(92, 97, 105, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2%;
}
.hero-image {
  width: 643px;
  height: 735.94px;
  /* opacity: 1; */
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.35);
}
.home-search {
  margin-top: -342px;
  width: 1170px;
  height: 429px;
  /* opacity: 1; */
  border: 1px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
}
