.date-selector {
  display: flex;

  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  width: 47.938rem;
}
.date-card-holder {
  display: flex;
  justify-content: center;
  width: 38.44rem;
  height: 3.64rem;
}

.date-card {
  /* display: flex; */
  /* min-width: 120px; */
  width: 12.81rem;
  height: 3.64rem;
  /* padding: 1rem; */
  border-radius: 8px;
  /* background: #f5f5f5; */
  text-align: center;
  border-bottom: 4px solid rgba(240, 240, 245, 1);
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.slots {
  color: green;
}
