.nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 1440px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(42, 167, 255, 1);
  color: rgba(255, 255, 255, 1);
}
